@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text size utilities */
/* Clamp Styles */
.text-sm-custom {
  font-size: clamp(0.85rem, 2.5vw, 1rem);
}

.text-md-custom {
  font-size: clamp(1rem, 2.7vw, 1.2rem);
}

.text-lg-custom {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
}

.text-xl-custom {
  font-size: clamp(1.4rem, 3.5vw, 1.8rem);
}

.text-2xl-custom {
  font-size: clamp(1.8rem, 4vw, 2.2rem);
}

.text-4xl-custom {
  font-size: clamp(2.5rem, 5vw, 3rem);
}

.text-6xl-custom {
  font-size: clamp(3.5rem, 6vw, 4rem);
}

/* Styles for the logout button */
.logout-btn {
  background-color: #f44336; /* Red color */
  color: white;
  padding: clamp(0.875rem, 1.5vw, 1rem);
  font-size: clamp(0.875rem, 1.5vw, 1rem); /* Text size that adjusts */
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.logout-btn:hover {
  background-color: #d32f2f; /* Darker red */
  transform: scale(1.05);
}

.logout-btn:active {
  transform: scale(1);
}
html {
  scroll-behavior: smooth;
}
